<!DOCTYPE html>
    <head>
        <meta charset="utf-8" />
        <title>ほんろぐ</title>
        <link rel="stylesheet" type="text/css" href="../popup.css">
        <script type="text/javascript"> let username = "<%=@name%>" 
                                        let searchFlag = <%= @searchFlag%>
        </script>
        <script type="text/javascript" src="bookdetail.js"></script>
    </head>

    <body>
        <center>
        <h1>ほんのページ</h1>
        </center>
        <left>
        <a href="/mypage"><h3>マイページ</h3></a>
        </left>
        <table border=1>
            <tr>
                <th>タイトル</th>
                <th>著者</th>
                <th>ページ数</th>
                <th>出版日</th>
                <th>出版社</th>
                <th>あらすじ</th>
                <th>評価</th>
                <th>おすすめ</th>
                <th>読みたい</th>
            </tr>
            <%if @searchFlag%>
                <tr>
                    <td id="title"></td>
                    <td id="author"></td>
                    <td id="page"></td>
                    <td id="publishedDate"></td>
                    <td id="publisher"></td>
                    <td id="description"></td>
                    <%if @book == []%>
                        <td id="rating">-</td>
                        <td id="recommend">-</td>
                        <td id="wannaread">-</td>
                    <%else%>
                        <td id="rating"><%=@book.rating%></td>
                        <td id="recommend"><%=@book.recommendnumber%></td>
                        <td id="wannaread"><%= @book.wannanumber %></td>
                    <%end%>
                </tr>
            <%else%>
                <tr>
                    <td id="title"><%=@book.title%></td>
                    <td id="author"><%=@book.author%></td>
                    <td id="page"><%=@book.page%></td>
                    <td id="publishedDate"><%=@book.publishedDate%></td>
                    <td id="publisher"><%=@book.publisher%></td>
                    <td id="description"><%=@book.description%></td>
                    <%if @book == []%>
                        <td id="rating">-</td>
                        <td id="recommend">-</td>
                        <td id="wannaread">-</td>
                    <%else%>
                        <%if @book.rating == 0%>
                            <td id="rating">-</td>
                        <%else%>
                            <td id="rating"><%=@book.rating%></td>
                        <%end%>
                        <td id="recommend"><%=@book.recommendnumber%></td>
                        <td id="wannaread"><%= @book.wannanumber %></td>
                    <%end%>
                </tr>
            <%end%>
        </table>
        
        <form id="input">
            <%if @writingFlag%>
                <table>
                    <tr>
                        <td><input type="checkbox" name="recommend" <%if @mywriting.recommend == 1%> checked="checked"<%end%>>おすすめ</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="wanna" <%if @mywriting.wannaread == 1%> checked="checked"<%end%>>読みたい</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="1" name="rating" onclick="radioDeselect(this, 1)"<%if @mywriting.rating == 1%> checked="checked"<%end%>>1</td>
                        <td><input type="radio" value="2" name="rating" onclick="radioDeselect(this, 2)"<%if @mywriting.rating == 2%> checked="checked"<%end%>>2</td>
                        <td><input type="radio" value="3" name="rating" onclick="radioDeselect(this, 3)"<%if @mywriting.rating == 3%> checked="checked"<%end%>>3</td>
                        <td><input type="radio" value="4" name="rating" onclick="radioDeselect(this, 4)"<%if @mywriting.rating == 4%> checked="checked"<%end%>>4</td>
                        <td><input type="radio" value="5" name="rating" onclick="radioDeselect(this, 5)"<%if @mywriting.rating == 5%> checked="checked"<%end%>>5</td>
                    </tr>
                    <tr>
                        <td>コメント</td><td><textarea name="comment"><%= @mywriting.comment%></textarea></td>
                    </tr>
                    <tr>
                        <td><button type="button" name="send" onclick="transmission(this)">更新</button></td>
                        <td><button type="button" name="send" onclick="transmission(this)">削除</button></td>
                    </tr>
                </table>
            <%else%>
                <table>
                    <tr>
                        <td><input type="checkbox" name="recommend">おすすめ</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="wanna">読みたい</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="1" name="rating" onclick="radioDeselect(this, 1)">1</td>
                        <td><input type="radio" value="2" name="rating" onclick="radioDeselect(this, 2)">2</td>
                        <td><input type="radio" value="3" name="rating" onclick="radioDeselect(this, 3)">3</td>
                        <td><input type="radio" value="4" name="rating" onclick="radioDeselect(this, 4)">4</td>
                        <td><input type="radio" value="5" name="rating" onclick="radioDeselect(this, 5)">5</td>
                    </tr>
                    <tr>
                        <td>コメント</td><td><textarea name="comment"></textarea></td>
                    </tr>
                    <tr>
                        <td><button type="button" name="send" onclick="transmission(this)">送信</button></td>
                    </tr>
                </table>
            <%end%>
        </form>

        <%if @reviews.empty? %>
        <p>レビューはありません。</p>
        <%else %>
            <table>
                <tr>
                    <th>ユーザー名</th>
                    <th>コメント<th>
                </tr>
                <%for a in @reviews%>
                    <tr>
                        <td><%= a.name%></td>
                        <td><%= a.comment%></td>
                    </tr>
                <%end%>
            </table>
        <%end%>
        <a href="/logout">logout</a>

        <div class="popup" id="limitPop">
            <div class="popupInner">
                <p>アクセス回数がGoogleBooksAPIの制限に抵触しました．少し待ってからもう一度お試しください．</p>
                <button type="button" id="limitButton" onclick="location.href='http://127.0.0.1:9998/mypage'">マイページに戻る</button>
            </div>
            <div class="background" id="popupBack"></div>
        </div>
        <div class="popup" id="writingPop">
            <div class="popupInner">
                <p>書き込み時にエラーが発生しました．次の項目を確認してください．</p>
                <ul>
                    <li>書き込みがすでにされていないか</li>
                    <li>本の情報に欠損はないか</li>
                </ul>
                <button type="button" id="writingButton" >閉じる</button>
            </div>
            <div class="background" id="popupBack"></div>
        </div>
    </body>
</html>
