<!DOCTYPE html>
    <head>
        <meta charset="utf-8" />
        <title>ほんろぐ</title>
        <script type="text/javascript"> let username = "<%=@name%>" </script>
        <script type="text/javascript" src="bookdetail.js"></script>
    </head>

    <body>
        <center>
        <h1>ほんのページ</h1>
        </center>
        <left>
        <a href="/mypage"><h3>マイページ</h3></a>
        </left>
        <table border=1>
            <tr>
                <th>タイトル</th>
                <th>著者</th>
                <th>ページ数</th>
                <th>出版日</th>
                <th>出版社</th>
                <th>あらすじ</th>
                <th>評価</th>
                <th>おすすめ</th>
                <th>読みたい</th>
            </tr>
            <tr>
                <td id="title"></td>
                <td id="author"></td>
                <td id="page"></td>
                <td id="publishedDate"></td>
                <td id="publisher"></td>
                <td id="description"></td>
                <%if @book == []%>
                    <td id="rating">-</td>
                    <td id="recommend">-</td>
                    <td id="wannaread">-</td>
                <%else%>
                    <td id="rating"><%=@book.rating%></td>
                    <td id="recommend"><%=@book.recommendnumber%></td>
                    <td id="wannaread"><%= @book.wannanumber %></td>
                <%end%>
            </tr>
        </table>
        
        <form id="input">
            <%if @writingFlag%>
                <table>
                    <tr>
                        <td><input type="checkbox" name="recommend" <%if @mywriting.recommend == 1%> checked="checked"<%end%>>おすすめ</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="wanna" <%if @mywriting.wannaread == 1%> checked="checked"<%end%>>読みたい</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="1" name="rating" onclick="radioDeselect(this, 1)"<%if @mywriting.rating == 1%> checked="checked"<%end%>>1</td>
                        <td><input type="radio" value="2" name="rating" onclick="radioDeselect(this, 2)"<%if @mywriting.rating == 2%> checked="checked"<%end%>>2</td>
                        <td><input type="radio" value="3" name="rating" onclick="radioDeselect(this, 3)"<%if @mywriting.rating == 3%> checked="checked"<%end%>>3</td>
                        <td><input type="radio" value="4" name="rating" onclick="radioDeselect(this, 4)"<%if @mywriting.rating == 4%> checked="checked"<%end%>>4</td>
                        <td><input type="radio" value="5" name="rating" onclick="radioDeselect(this, 5)"<%if @mywriting.rating == 5%> checked="checked"<%end%>>5</td>
                    </tr>
                    <tr>
                        <td>コメント</td><td><textarea name="comment"><%= @mywriting.comment%></textarea></td>
                    </tr>
                    <tr>
                        <td><button type="button" name="send" onclick="transmission(this)">更新</button></td>
                        <td><button type="button" name="send" onclick="transmission(this)">削除</button></td>
                    </tr>
                </table>
            <%else%>
                <table>
                    <tr>
                        <td><input type="checkbox" name="recommend">おすすめ</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="wanna">読みたい</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="1" name="rating" onclick="radioDeselect(this, 1)">1</td>
                        <td><input type="radio" value="2" name="rating" onclick="radioDeselect(this, 2)">2</td>
                        <td><input type="radio" value="3" name="rating" onclick="radioDeselect(this, 3)">3</td>
                        <td><input type="radio" value="4" name="rating" onclick="radioDeselect(this, 4)">4</td>
                        <td><input type="radio" value="5" name="rating" onclick="radioDeselect(this, 5)">5</td>
                    </tr>
                    <tr>
                        <td>コメント</td><td><textarea name="comment"></textarea></td>
                    </tr>
                    <tr>
                        <td><button type="button" name="send" onclick="transmission(this)">送信</button></td>
                    </tr>
                </table>
            <%end%>
        </form>

        <%if @reviews.empty? %>
        <p>レビューはありません。</p>
        <%else %>
            <table>
                <tr>
                    <th>ユーザー名</th>
                    <th>コメント<th>
                </tr>
                <%for a in @reviews%>
                    <tr>
                        <td><%= a.name%></td>
                        <td><%= a.comment%></td>
                    </tr>
                <%end%>
            </table>
        <%end%>
        <a href="/logout">logout</a>
    </body>
</html>
