<!DOCTYPE html>
    <head>
        <meta charset="utf-8" />
        <title>ほんろぐ</title>
        <script type="text/javascript"> let name = "<%=@name%>"</script>
        <script type="text/javascript" src="bookdetail.js"></script>
    </head>

    <body>
        <center>
        <h1>マイページ</h1>
        </center>
        <table border=1>
            <tr>
                <th>タイトル</th>
                <th>著者</th>
                <th>ページ数</th>
                <th>出版日</th>
                <th>出版社</th>
                <th>あらすじ</th>
                <th>評価</th>
                <th>おすすめ</th>
                <th>読みたい</th>
            </tr>
            <tr>
                <td id="title"></td>
                <td id="author"></td>
                <td id="page"></td>
                <td id="publishedDate"></td>
                <td id="publisher"></td>
                <td id="description"></td>
                <%if @book == []%>
                    <td id="rating">-</td>
                    <td id="recommend">-</td>
                    <td id="wannaread">-</td>
                <%else%>
                    <td id="rating"><%=@book.rating%>% </td>
                    <td id="recommend"><%=@book.recommendnumber%></td>
                    <td id="wannaread"><%= @book.wannanumber %></td>
                <%end%>
            </tr>
        </table>
        
        <form id="input">
            <table>
                <tr>
                    <td><input type="checkbox" name="recommend">おすすめ</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="wanna">読みたい</td>
                </tr>
                <tr>
                    <td><input type="radio" value="1" name="rating" onclick="radioDeselect(this, 1)">1</td>
                    <td><input type="radio" value="2" name="rating" onclick="radioDeselect(this, 2)">2</td>
                    <td><input type="radio" value="3" name="rating" onclick="radioDeselect(this, 3)">3</td>
                    <td><input type="radio" value="4" name="rating" onclick="radioDeselect(this, 4)">4</td>
                    <td><input type="radio" value="5" name="rating" onclick="radioDeselect(this, 5)">5</td>
                </tr>
                <tr>
                    <td>コメント</td><td><textarea name="comment"></textarea></td>
                </tr>
                <tr>
                    <td><button type="button" name="send" onclick="transmission()">送信</button></td>
                </tr>
            </table>
        </form>

        <%if @reviews.empty? %>
        <p>レビューはありません。</p>
        <%else %>
            <table>
                <tr>
                    <th>ユーザー名</th>
                    <th>コメント<th>
                </tr>
                <%for a in @reviews%>
                    <tr>
                        <td><%= a.name%></td>
                        <td><%= a.comment%></td>
                    </tr>
                <%end%>
            </table>
        <%end%>
        <a href="/logout">logout</a>
    </body>
</html>
