
<!DOCTYPE html>
    <head>
    <meta charset="utf-8" />
    <title>ほんろぐ</title>
    <link rel="icon" href="favi.ico">
    <link rel="stylesheet" type="text/css" href="popup.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="contents.css">
    <script type="text/javascript" src="contents.js"></script>
    </head>

    <body>
        <center>
        <h1>マイページ</h1>
        </center>
        <form id="tar">
        BookSearch:<input type="text" id="key" maxlength="50">
        <button type="button" onclick="search();">検索</button>
        <button type="button" onclick="cancel();">閉じる</button>
        </form>

        <div id="result"></div>

        <h2>読みたいリスト</h2>
        <%if @wannaBook == []%>
            <p>まだ読みたい本はありません。</p>
        <%else%>
            <table class="books" border=1>
                <tr>
                    <th class="title">タイトル</th>
                    <th class="author">著者</th>
                    <th class="publisher">出版社</th>
                    <th class="page">ページ数</th>
                    <th class="publishedDate">発行日</th>
                    <th class="description">あらすじ</th>
                </tr>
                <%for i in @wannaBook%>
                    <tr>
                        <td><a href="http://127.0.0.1:9998/book/<%=i.id%>"> <%= i.title%></a></td>
                        <td><%= i.author%></td>
                        <td><%= i.publisher%></td>
                        <td><%= i.page%></td>
                        <td><%= i.publishedDate%></td>
                        <td><%= i.description%></td>
                    </tr>
                <%end%>
            </table>
        <%end%>

        <%if @recommendBook != []%>
            <h2>あなたへのおすすめ</h2>
            <table class="books" border=1>
                <tr>
                    <th class="title">タイトル</th>
                    <th class="author">著者</th>
                    <th class="publisher">出版社</th>
                    <th class="page">ページ数</th>
                    <th class="publishedDate">発行日</th>
                    <th class="description">あらすじ</th>
                </tr>
                <%for i in @recommendBook%>
                    <tr>
                        <td><a href="http://127.0.0.1:9998/book/<%=i.id%>"> <%= i.title%></a></td>
                        <td><%= i.author%></td>
                        <td><%= i.publisher%></td>
                        <td><%= i.page%></td>
                        <td><%= i.publishedDate%></td>
                        <td><%= i.description%></td>
                    </tr>
                <%end%>
            </table>
        <%end%>
        <button type="button" onclick="location.href='http://127.0.0.1:9998/logout'">ログアウト</button>
        <button type="button" id="delete" onclick="popup()">アカウント削除</button>
        <div class="popup" id="deletePop">
            <div class="popupInner">
                <p>アカウントを削除します本当によろしいですか</p>
                <button type="button" id="runButton" onclick="deleteAccount()">はい</button>
                <button type="button" id="closeButton" >キャンセル</button>
            </div>
            <div class="background" id="deletePopupBack"></div>
        </div>

        <div class="popup" id="limitPop">
            <div class="popupInner">
                <p>インターネット接続を確認してください</p>
                <p>アクセス回数がGoogleBooksAPIの制限に抵触しました．少し待ってからもう一度お試しください．</p>
                <button type="button" id="limitButton" >閉じる</button>
            </div>
            <div class="background" id="limitPopupBack"></div>
        </div>
    </body>
</html>
